@media screen and (max-width: 600px) and (min-width: 320px) {

    
    header {
        display: grid;
        
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr 1fr auto auto;
        /* flex-direction: row; */
        padding: 1rem 1rem 0rem 0rem ;
         grid-template-areas:
         "logo logo contrast menu"
         "navi navi navi navi";
        
        align-items: center;


        
        /* justify-content: space-between; */
    }

    .first-header-left{
        grid-area: logo;
    }

     .contrast-icon{
        grid-area: contrast;
    }

    
     .hamburger{
        grid-area: menu;
    }

    .open{
        grid-area: navi;
            
    }


    .cardList section{    
    grid-template-columns:  1fr     
           
    }

    .cardList section h1{
        
        justify-self:center;
        text-align: center;   
    }
    
   


    nav ul{
    display: none;
    }

    .first-header-right p{
        justify-content: right;
        width: 100%;
    }

    
    .hamburger{    
        display: block;
        width: 30px;
        height: 30px;
        font-size: 1.5rem;
        align-self: center; 
    }

    .bar{
        /* display: block;     */
            width: 100%;
            height: 4px;            
            background-color: rgb(13, 78, 100);
            margin: 5px 0;             
    }


    footer{
        display: grid;
    }

    .footer-middle{
        justify-content: left;
    }

    .footer-right{
        display: block;   
    }



      nav.open ul{
        display: grid;                
        
        background-color: #48A6A7;        
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
         justify-content: center; 
        text-align: center; 
        padding: 1rem;
             
              
               
    } 

     /* .open{
        grid-column: span 4;
        width: 100%;
    } */

   
    


    
    .bar{
        transition: .3s;
        
    }

    .hamburger.active .bar:nth-child(1){
        transform: rotate(45deg) translate(6px,6px);
     }

    .hamburger.active .bar:nth-child(2){
        opacity:0;
       
    }

    .hamburger.active .bar:nth-child(3){
        transform: rotate(-45deg) translate(7px,-7px);
     }


     



}




