
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;      
    font-family: 'Inter', sans-serif;     
}

/* https://colorhunt.co/palette/f2efe79acbd048a6a7006a71 */



:root {
    --primary-color: #F2EFE7;
    --secondary-color: #b2dfe6;
    --accent1-color: #48A6A7;
    --accent2-color: #07545a;
    --accent3-color: #004044;
}


header{
    display: grid;
	grid-gap: 0.5rem;
	/* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    background-color:var(--secondary-color);
    padding: 1rem;
    color: black;
    
}




header {
    /* display: grid;	 */
	grid-template-columns: 1fr 1fr; 
     
}


.first-header-left{
    display: flex;
    
  
}





.first-header-left span{
    font-weight: bolder;
    align-self: center;
    text-transform: uppercase;
}



.first-header-right{
    display: flex;
    gap: 1rem;
    align-content: center;
    justify-content: right;
}



ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: small;
    font-weight: bolder;
    
    
}


ul li:active
{
    text-decoration: underline;
    /* color: var(--primary-color); */

}


ul li:hover,
ul li a:focus{
    background-color: #cdcecd;
    color: var(--primary-color);
     text-decoration: underline;
    
}

ul li{
   list-style: none; 
   padding: 0.5rem;
   border-radius: 2rem;

}

nav ul{
    display: flex;
    gap: 1rem;
    /* align-items: center; */
}

nav{
    align-content: center;
}

.contrast-icon{
    align-content: center;
}


.hamburger{  
   
    display: none;
  

}






footer{
    display: flex;
    gap: 2rem;
    /* flex-wrap: wrap; */
    background-color:var(--secondary-color);
    
    color: black;
    
	/* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */

}

.footer-left, 
.footer-middle, 
.footer-right{
    width: 100%;
    font-size: small;
    
}



.footer-middle{
    display: flex;
    gap: 2rem;
    justify-content: center;  
}

footer img{
    width: 30px;
    height: 30px;
}


.footer-right {
    display:flex;
    justify-content: flex-end;  

}

/* footer{
    color: black;
} */


/*  constrast */

body{
    background-color: var(--primary-color);
    color:black;
}

main{
    padding: 1rem; 
}  

h1{
    text-align: center;
    padding: 0rem 0rem 2rem 0rem;
    
}

.h1name{
    font-size:20px;
    text-align: left;
    color:var(--primary-color);
}


.gridcard{
    color: var(--primary-color);
    font-size:20px;
    text-align: left;  
    gap:1rem;
    display: grid;  
    
}

.dark-mode main{
    background-color: var(--accent3-color);
    color: var(--primary-color);
}



body.dark-mode {
    background-color: var(--accent3-color);
    color: white;
}

h1.dark-mode{
    color: var(--primary-color);
    
}

.dark-mode.card-section p{
    color: white;
}





/*Grid in dark mood */




#viewMenu{
    display: flex;
    gap: 1rem;
     padding: 0 0 2rem 0;
     justify-content: center;
}



.cardGrid{
    display: grid;   
    justify-content: center;
    gap: 2rem;    
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
     

.card-section{    
    padding: 1rem;
    background-color: var(--accent2-color); 
    border-radius: 2rem;    
    justify-content: center;
    
}

.card-section a{
    color: inherit;
    text-decoration: none;
}

.card-section p{
    font-size: 15px;    
}


