
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;      
    font-family: 'Inter', sans-serif;     
}

/* https://colorhunt.co/palette/f2efe79acbd048a6a7006a71 */



:root {
    --primary-color: #F2EFE7;
    --secondary-color: #b2dfe6;
    --accent1-color: #48A6A7;
    --accent2-color: #07545a;
    --accent3-color: #004044;
}







header{
    display: grid;
	grid-gap: 0.5rem;
	/* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    background-color:var(--secondary-color);
    padding: 1rem;
    color: black;
    grid-template-columns: 1fr 1fr auto ;
    grid-template-areas:
         "logo logo navi contrast";
         
    
}


.first-header-left{
    grid-area: logo;
    display: flex;
}

.contrast-icon{
    grid-area: contrast;
    align-content: center;
}



.first-header-left span{
    font-weight: bolder;
    align-self: center;
    text-transform: uppercase;
}



nav{
    grid-area: navi;
    align-content: center;
}



.hamburger{  
    grid-area: menu;   
    display: none; 

}


ul li a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-size: small;
    font-weight: bolder;
    
    
}


ul li:active
{
    text-decoration: underline;
    /* color: var(--primary-color); */

}


ul li:hover,
ul li a:focus{
    background-color: #cdcecd;
    color: var(--primary-color);
     text-decoration: underline;
    
}

ul li{
   list-style: none; 
   padding: 0.5rem;
   border-radius: 2rem;

}

nav ul{
    display: flex;
    gap: 1rem;
    /* align-items: center; */
}




footer{
    display: flex;
    gap: 2rem;
    background-color:var(--secondary-color);
    
    color: black;
    padding: 2rem;
    

	/* grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */

}

.footer-left, 
.footer-middle, 
.footer-right{
    width: 100%;
    font-size: 15px;
    
}



.footer-middle{
    display: flex;
    gap: 2rem;
    justify-content: center;  
}

footer img{
    width: 30px;
    height: 30px;
}


.footer-right {
    display:flex;
    justify-content: flex-end;  

}



body{
    background-color: var(--primary-color);
    color:black;
}

main{
    padding: 1rem; 
}  

h1{
    text-align: center;
    padding: 0rem 0rem 2rem 0rem;
    
}


#viewMenu{
    display: flex;
    gap: 1rem;
     padding: 0 0 2rem 0;
     justify-content: center;
}



.gridcard{
    display: grid;  
    color: var(--primary-color);
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
     gap: 2rem; 
    align-items: stretch;
    /* background-color: none; */
    
    section {
        display: grid;
        text-align: center;
        justify-items: center;
        background-color: var(--accent3-color);    
        gap: 0.5rem;     
        border: 1px solid rgb(0 0 0 / 10%);
        padding: 0.5rem;

    
    }
    h1{
        padding: 0;
        text-align: center;
        font-size: 20px;
        border-bottom: 1px solid #48A6A7;
    }

    p{
        font-size: 13px;
    }     
     
     a{
        text-decoration: none;
        color: inherit;
     }    

    
}




.cardList{
    gap: 0rem;
     background-color: #b2dfe6; 
    display: flex;
    flex-direction: column;
    /* align-content: center; */
   

    section{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
        margin: 0;    
        align-items: center;  
         background-color:  #ddd;  
        
	}

    img {
		display: none;
	    }

    h1{    
		font-size: 16px;
        color: black;
        justify-self: start;
        text-align: left;     
        border-bottom: none;
        
        padding: 0px;
     }


    p{
        color: black;
        
        
    }
 
}

.cardList section:nth-child(even) {
    background-color: #bbb;
}



    

.dark-mode main{
    /* background-color: var(--accent3-color); */
    background-color: black;

    color: var(--primary-color);
}



body.dark-mode {
    background-color: var(--accent3-color);
    color: white;
}

h1.dark-mode{
    color: var(--primary-color);
    
}

.dark-mode.card-section p{
    color: white;
}







